html,body{
    font-size: 14px;
    background-color:#fff;
    padding: 0;
    margin: 0;
}

/* Common */

a:hover,
a:focus,
a:active{
    outline: none;
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

.button,
.button:focus{
    font-size: 14px;
    color:#fff;
    padding: 10px 38px;
    border: none;
    border-radius: 20px;
    border:1px solid #ed1a3d;
    background-color:#ed1a3d;
    display: inline-block;
}

.button:hover,
.button:active{
    outline: none;
    color:#ed1a3d;
    background-color:#fff;
}

.button.x2{
    font-size: 18px;
    padding: 17px 140px;
    border-radius: 34px;
}

.button.disabled{
    border: 1px solid #aaa;
    color:#fff;
    background-color:#aaa;
}

.inline-block{
    display: inline-block;
}

input,
select,
textarea{

    font-size: 16px;
    color:#444;
    border-radius: 0;
}

input:focus{
    outline: none;
}

.scrollup{
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 999;
    bottom: 95px;
    right: 20px;
    display: none;
    text-indent: -9999px;
    background: url('../images/back-to-top.png') no-repeat;
}

/* Side Nav */

.sidenav{
    position: absolute;
    top: 0;
    right: -999px;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .2);
    z-index: 100;
    display: none;
}

.sidenav .inner{
    width: 100%;
    height: 100%;
    max-width: 270px;
    background-color: #fff;
    float:right;
    padding: 40px 20px;
}

.sidenav .sidenav-nav{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidenav .sidenav-nav>li>a{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#444;
    padding: 8px 0;
    display: inline-block;
}

.sidenav .sidenav-nav>li.active>a,
.sidenav .sidenav-nav>li>a:hover,
.sidenav .sidenav-nav>li>a:focus,
.sidenav .sidenav-nav>li>a:active{
    color:#ed1a3d;
}

.sidenav-close{
    position: absolute;
    top: 10px;
    right: 20px;
    color:#444;
}

.sidenav-form{
    margin-bottom: 8px;
}

.sidenav-form input{
    width: 100%;
    padding: 12px 20px 12px 42px;
    background-color:#f0f0f0;
    background-image: url('../images/sidenav-searchbar.png');
    background-repeat: no-repeat;
    background-position: 15px 10px;
    border: none;
    border-radius: 20px;
    color:#aaa;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
}

/* Body */

.main-body{
    margin: 94px auto 0;
    padding:0 20px;
    max-width: 670px;
}

.main-body.home{
    padding: 0;
    margin-top: 0;
    max-width: none;
}

.main-body.contact{
    max-width: 670px;
}

.main-body.register{
    max-width: 670px;
}

.main-body.faq{
    max-width: 810px;
}

.main-body.events{
    max-width: none;
}

.main-body.event{
    max-width: 810px;
}

.main-body.resource{
    max-width: 1215px;
}

.main-body.tnc{
    max-width: 810px;
}

.main-body.about{
    max-width: 759px;
}

.page-title{
    margin:0px 0 50px;
    text-align:center;
}

.page-title h1{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    color:#666;
    margin: 0 0 20px;
    padding: 0;
}

.page-title .ls{
    background-color:#ed1a3d;
    height:3px;
    width: 100%;
    max-width: 70px;
    margin: 0 auto;
}

.page-intro h2{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 32px;
    color:#444;
    text-align: center;
    max-width: 630px;
    margin: 0 auto 50px;
    padding: 0 15px;
}

.page-intro .inner{
    text-align: center;
    max-width: 630px;
    margin: 0 auto 50px;
    padding: 0 15px;
}

.form .tnc a{
    color:#ed1a3d;
}

.form .tnc a:hover,
.form .tnc a:focus,
.form .tnc a:active{
    color:#ed1a3d;
}

.form .button-wrapper{
    text-align:center;
    margin-bottom:40px;
}

.form .form-group{
    position: relative;
}

.form .form-group>label{

    font-size: 12px;
    color:#999;
}

.form .form-group a.button{
    /*
    position: absolute;
    top: 18px;
    right: 0;
    padding: 10px 20px;
    */
}

.form .form-group .preview-buttons{
    text-align: center;
    display: none;
    max-width: 280px;
}

.form .form-group .btn-image-preview{
    margin: 10px auto 20px;
}

.form .form-group div.error{

    font-size: 12px;
    color:#ed1a3d;
    padding-left: 0px;
}

.form .form-group.skip-deal-container{
    text-align: center;
}

.form .label-image{
    position: absolute;
    left: 0;
    top: 13px;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}

.form .label-image.person{
    background-image: url('../images/icon-person.png');
}

.form .label-image.email{
    background-image: url('../images/icon-email.png');
}

.form .label-image.phone{
    background-image: url('../images/icon-phone.png');
}

.form .label-image.message{
    background-image: url('../images/icon-message.png');
}

.form .icon-error{
    position: absolute;
    top: 30px;
    right: 10px;
}

.form-help-text{

    font-size: 14px;
    color:#aaa;
}

.form .help-text{

    font-size: 12px;
    color:#aaa;
    padding-left: 0px;
}

.form .col-2 .input{
    max-width: 50%;
    float: left;
}

.form .deal-food-type{
    display: none;
}

.g-recaptcha{
    display: inline-block;
}

.overlay-loading{
    background-image: url('../images/spinner.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

/* Material Form */

.material .material-input{
    margin-bottom:6px;
    width: 100%;
    margin-left: 0px;
}

.material .material-input label{
    left: 0px;
    padding-right: 30px;
}

.material .material-input input{
    height: 42px;
    padding: 15px 30px 15px 0;
}

.material .material-input input.date-picker{
    background-image: url('../images/icon-calendar.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

.material .material-input input,
.material .material-input textarea{
    border-bottom: 1px solid #ddd;
}

.material .material-input input.error,
.material .material-input textarea.error{
    background-image: url('../images/icon-error.png');
    background-repeat: no-repeat;
    background-position: center right;
}

.material .material-input textarea.error{
    background-position: top right;
}

.material .material-input label span{
    padding-left: 15px;
    color:#aaa;
    font-style: italic;
}

.material .material-group{
    margin-bottom:6px;
}

.material .material-group input{
    display: none;
}

.material .single .material-group label{
    padding-left: 30px;

    font-size: 14px;
    color:#aaa;
    padding-right: 0px;
}

.material .material-group-item{
    display: inline-block;
}

.material .col-2 .material-group:before,
.material .col-2 .material-group:after{
    display: table;
    content: " ";
}

.material .col-2 .material-group:after{
    clear:both;
}

.material .col-2 .material-group-item{
    width: 50%;
    float: left;
}

.material .single-row .material-group-item{
    display: block;
}

.material .material-group-item label{
    padding-left: 30px;
    padding-right: 30px;

    font-size: 16px;
    font-weight: normal;
    color: #444;
    margin-bottom: 0;
}

.material .material-checkbox{
    top: 2px;
    margin-top: 0;
    border:1px solid #ddd;
}

.material .material-checkbox:before{
    top:1px;
    color:#ed1a3d;
    background-color:transparent;
}

.material .material-bar:before,
.material .material-bar:after{
    background-color:transparent;
}

.material .error ~ .material-bar:before,
.material .error ~ .material-bar:after,
.material .error ~ .material-bar:before,
.material .error ~ .material-bar:after{
    background-color:transparent;
}

.material .hasError>label,
.material .hasError .material-title,
.material .hasError .material-select.filled > .material-title,
.material .hasError.filled .material-input label,
.material .hasError .material-select.filled label span,
.material .hasError .material-group-item label,
.material .hasError .material-select > label,
.material .hasError .material-input .filled ~ label,
.material .error:focus,
.material .error.filled,
.material .error:not(.filled) ~ label,
.material .error:not(.filled) ~ label span{
    color:#ed1a3d;
}

.material .filled .material-input label,
.material .material-input :focus ~ label,
.material .material-input .filled ~ label,
.material .error:focus ~ label{
    top: 0;
    line-height: 24px;
}

.material .filled .material-input label,
.material .material-input :focus ~ label,
.material .material-input .filled ~ label,
.material .error:focus ~ label{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#999;
}

.material .material-input .filled ~ label span{
    display: none;
}

.material .material-select{
    margin-bottom:6px;
    width: 100%;
    margin-left: 0px;
}

.material .material-select > .material-title{
    height: auto;
}

.material .material-select > input:checked + .material-title,
.material .material-select.filled > .material-title{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#999;
}

.material .material-select > label{

    font-size: 16px;
    font-weight: normal;
    color:#808080;
}

.material .material-select > label span{
    color:#444;
}

.material .material-select > label strong{
    position: absolute;
    top: 14px;
    right: 0px;
    width: 18px;
    height: 18px;
    background-image: url('../images/icon-arrow-down.png');
    background-repeat: no-repeat;
    border: none;
}

.material .material-select ul{
    list-style: none !important;
    box-shadow: none;
    border:1px solid #ddd;
}

.material .material-select ul li{
    border-bottom: 1px solid #f6f6f6;
}

.material .material-select ul li label{

    font-size: 16px;
    font-weight: normal;
    color:#444;
}

.material .material-select > input:checked ~ ul{
    list-style: none;
    top: 57px;
    height: 150px;
    overflow-y: scroll;
}

.material.icon .material-input{
    margin-left: 50px;
    width: calc(100% - 50px);
}

.form.icon .form-group div.error,
.material.icon .single .material-group label{
    padding-left: 50px;
}

.material .material-radio{
    width: 25px;
    height: 25px;
    border:1px solid #ddd;
    border-radius: 100%;
    margin-top: -11px;
}

.material .material-radio:before{
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    background-color:#ed1a3d;
    border-radius: 100%;
}

/* FAQ */

.faqs dt,
.faqs dd{
    font-size:14px;
    padding: 0 20px 0 45px;
    border: 1px solid #ddd;
}

.faqs dt{
    cursor: pointer;
    padding: 14px 0 14px 45px;
    margin: 0 0 18px 0;
    background: url('../images/icon-plus.png') no-repeat 18px 15px;
    background-color:#f8f8fa;
    border-radius: 4px;
}

.faqs dd{
    border-top: 0;
    margin: 0 0 18px 0;
    padding: 0px 20px 14px 45px;
    background-color:#fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.faqs .expanded{
    margin-bottom: 0;
    border-bottom: 0;
    background: url('../images/icon-minus.png') no-repeat 18px 15px #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Register */

.wizard > .content{
    min-height: 300px;
    background-color: #fff;
    margin: 0;
}

.wizard > .content > .body{
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
}

.wizard > .content > .body input{
    border: 0;
    border-bottom: 1px solid #ddd;
}

.wizard > .steps{
    padding-top: 25px;
}

.wizard > .steps > ul > li{
    width: auto;
    padding-left: calc(32% - 40px);
    position: relative;
}

.wizard > .steps > ul > li:first-child{
    padding-left: 0;
}

.wizard > .steps > ul > li:before{
    background: #ddd;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -1px;
    width: 100%;
}

.wizard > .steps > ul > li:first-child:before{
    content: "";
    background-color: transparent;
    display: none;
}

.wizard > .steps > ul > li.current:before,
.wizard > .steps > ul > li.done:before{
    background-color:#ed1a3d;
}

.wizard > .steps > ul > li.current{
    margin-top:-4px;
}

.wizard > .steps .index{
    line-height: 30px;
    display: block;
}

.wizard > .steps .current .index{
    line-height: 34px;
}

.wizard > .steps .title{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#aaa;
    position: absolute;
    top: -26px;
    left: 0px;
    width: 100%;
    text-align:center;
    display: block;
}

.wizard > .steps .current .title{
    color:#ed1a3d;
}

.wizard > .steps .current .title{
    top: -22px;
}

.wizard > .steps .number{
    display: none;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active{
    font-family: 'Montserrat-Regular', sans-serif;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
    color:#fff;
    text-align: center;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active{
    color: #fff;
    width: 40px;
    height: 40px;
    background-color:#ed1a3d;
    border:3px solid #ebe7c1;
    margin-top: -3px;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active{
    color: #fff;
    background-color:#ed1a3d;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active{
    color: #fff;
    background-color:#ddd;
}

.wizard > .actions{
    padding: 20px 0;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:focus,
.wizard > .actions a:active{
    font-size: 14px;
    color:#fff;
    padding: 10px 38px;
    border: none;
    border-radius: 20px;
    border:1px solid #ed1a3d;
    background-color:#ed1a3d;
}

.wizard > .actions a:hover,
.wizard > .actions a:focus,
.wizard > .actions a:active
{
    outline: none;
    color:#ed1a3d;
    background-color:#fff;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:focus,
.wizard > .actions .disabled a:active
{
    outline: none;
    background: #fff;
    color: #aaa;
    border:1px solid #ddd;
    display: none;
}

.wizard > .actions > ul{
    width: 100%;
}

.wizard > .actions > ul > li{
    float: right;
    margin: 0;
}

.wizard > .actions > ul > li.action-previous,
.wizard > .actions > ul > li.action-nested-previous{
    float: left;
}

.wizard > .actions .action-previous a,
.wizard > .actions .action-nested-previous a{
    background-color:#aaa;
    color:#fff;
    border:1px solid #aaa;
}

.wizard > .actions .action-previous a:hover,
.wizard > .actions .action-previous a:active,
.wizard > .actions .action-nested-previous a:hover,
.wizard > .actions .action-nested-previous a:active{
    background-color:#fff;
    color:#aaa;
}

.material .crn .material-input input{
    padding-right: 125px;
}

.crn-search,
.crn-search:focus,
.crn-search:hover,
.crn-search:active{
    position: absolute;
    top: 23px;
    right: 0px;
    padding: 5px 19px;
}

/* Modal */

.modal-header{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 32px;
    color:#444;
    padding: 40px;
    text-align:center;
}

.modal-body{
    padding: 40px;
    background-color:#d9d9d9;
}

.modal-content{
    box-shadow: none;
    border-radius: 0;
}

.modal-footer{
    padding: 40px;
    text-align: center;
}

.company-box{
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;
    background-color:#fff;
    border-radius: 4px;
    border:1px solid #ddd;
    width: 100%;
    max-width: 285px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
    position: relative;
}

.company-box:nth-child(4n+4){
    margin-right: 0;
}

.company-box.disabled{
    box-shadow: none;
    border:1px solid #bcbcbc;
}

.company-box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color:rgba(0, 0, 0, .1);
    display: block;
}

.company-box .image{
    padding: 11px 11px;
    text-align: center;
    border-bottom:1px solid #dddddd;
}

.company-box .image .preview{
    width: 100%;
    height: 100%;
    max-height: 130px;
    overflow: hidden;
}

.company-box.disabled .image{
    border-bottom:1px solid #bcbcbc;
}

.company-box .image img{
    margin: 0 auto;
}

.company-box .info{
    padding: 30px;
    text-align: center;
}

.company-box .name{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    color:#444;
    margin-bottom: 18px;
}

.company-box .address{

    font-size: 14px;
    color:#aaa;
    margin-bottom: 18px;
}

.company-box .url{

    font-size: 14px;
    color:#aaa;
}

.section-intro{

    margin-bottom: 44px;
}

.section-intro h2{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 32px;
    color: #444;
    margin:44px 0 40px;
    text-align:center;
}

.section-intro p{
    font-size: 14px;
    color:#aaa;
}

.section-cta-container{
    padding: 0px 0 40px;
    text-align: center;
}

.section-cta-container.add-deal{
    padding-bottom: 150px;
}

.store-information-container{
    display: none;
}

.deal-information-container{
    display: none;
}

.store-logo-agree{
    display: block;
}

.preview-info-container .form-info{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 40px;
}

.form-edit-bar{
    width: 100%;
    text-align: right;
}

.form-edit-bar .btn-edit-step{
    display: block;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 10px;
    color: #ed1a3d;
    padding: 10px;
}

.form-table{
    width: 100%;
}

.form-table .title{
    width: 50%;
    padding-right: 30px;
    padding-bottom: 15px;
    vertical-align: top;

    font-size: 14px;
    color:#444;
}

.form-table .value{
    width: 50%;
    padding-bottom: 15px;
    vertical-align: top;

    font-size: 14px;
    color:#444;
}

/* Dropzone */

.dropzone{
    padding: 0;
    margin-top:10px;
    margin-bottom: 10px;
    border:2px dashed #ddd;
    background-color:#f9f9f9;
    background-image: url('../images/dropzone-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    width: 280px;
    height: 165px;
}

.dropzone .dz-preview .dz-details{
    display: none;
}

.dropzone .dz-preview .dz-progress{
    /*
    width: 100%;
    top: 90%;
    left: 0;
    margin-left: 0;
    */
    background:#f9f9f9;
    border:1px solid #aaaaaa;
}

.dropzone .dz-preview .dz-progress .dz-upload{
    background:#aaaaaa;
    border:none;
}

.dropzone .dz-preview{
    margin: 0 0px;
    width: 100%;
}

.dropzone .dz-preview.dz-image-preview{
    background-color: transparent;
}

.dropzone .dz-preview .dz-image{
    border-radius: 0;
    width: 100%;
    height: 161px;
}

.dropzone .dz-preview .dz-image img{
    width: 100%;
}

.dropzone .dz-preview:hover .dz-image img{
    -webkit-transform: none;
            transform: none;
    -webkit-filter: none;
    filter: none;
}

.dropzone .dz-preview:hover .dz-details{
    opacity: 0;
}

.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark{
    display: none;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 0;
    background: #f9f9f9;
}

.dropzon-remove-link,
.dropzon-remove-link:hover{
    cursor: pointer;
    color:#fff;
    background-color:#000;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    z-index: 10;
    line-height: 50px;
    font-size: 35px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.dropzon-remove-link .icon{
    cursor: pointer;
}

/* Boostrap Datetime Picker  */

.bootstrap-datetimepicker-widget{
    box-shadow: none;
    border-radius: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu{
    padding: 0;
}

.bootstrap-datetimepicker-widget ul{
    list-style: none !important;
}

.bootstrap-datetimepicker-widget table {
    border-spacing: 4px;
    border-collapse: separate;
}

.bootstrap-datetimepicker-widget table td{
    border-radius: 0;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th{
    color:#aaa;
}

.bootstrap-datetimepicker-widget table td.day{
    border:1px solid #ddd;
    color:#444;
}

.bootstrap-datetimepicker-widget table td.new,
.bootstrap-datetimepicker-widget table td.old{
    color:#aaa;
}

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #aaa;
    color: #444;
    text-shadow: none;
}

.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover{
    color: #ddd;
    background-color: #fff;
}

.bootstrap-datetimepicker-widget table th{
    color:#aaa;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th,
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{
    border-radius: 0;
    border:1px solid #ddd;
    color:#ed1a3d;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th.picker-switch{
    color:#ed1a3d;
    border: 0;
}

.bootstrap-datetimepicker-widget table td span{
    border-radius: 0;
    border:1px solid #ddd;
}

.bootstrap-datetimepicker-widget table td span.active{
    background-color: #aaa;
    color:#444;
}

.bootstrap-datetimepicker-widget table td span.disabled,
.bootstrap-datetimepicker-widget table td span.disabled:hover{
    color: #ddd;
    background-color: #fff;
}

/* WYSIWYG */

.wysiwyg-content h2{

    font-size: 32px;
    color:#444;
    padding: 0;
    margin: 0;
    margin-bottom: 44px;
    text-align:center;
}

.wysiwyg-content p{

    font-size: 14px;
    color:#aaa;
    margin-bottom: 44px;
}

.deal-detail-container{
    text-align: left;
}

.deal-store-info{
    background-color:#fff;
    border-radius:8px;
    padding:24px 19px;
    margin: 0 33px 33px 0;
    width:100%;
    max-width:423px;
    float:left;
}

.deal-store-info .image{
    margin-bottom:20px;
    border:1px solid #dddddd;
    text-align:center;
}

.deal-store-info .image img{
    margin: 0 auto;
}

.store-info-wrapper{
    margin: 0 59px 0 10px;
}

.store-info-item{
    margin-bottom: 20px;
}

.store-info-item:last-child{
    margin-bottom: 0;
}

.store-info-item .icon{
    float: left;
    width: 29px;
    margin-top: 28px;
    margin-right:15px;
}

.store-info-item .inner{
    float: left;
    width: calc(100% - 44px);
    border-bottom:1px solid #ddd;
}

.store-info-item:last-child .inner{
    border-bottom: 0;
}

.store-info-item .inner .title{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#aaaaaa;
    margin-bottom: 15px;
}

.store-info-item .inner .value{

    font-size: 16px;
    color:#444444;
    margin-bottom: 15px;
    word-break: break-all;
}

.store-info-item .inner .value.highlight{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 20px;
    text-align: center;
}

.deal-info{
    background-color:#fff;
    border-radius:8px;
    padding:24px 35px;
    width:auto;
    overflow: hidden;
}

.deal-info .deal-title{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 32px;
    color:#444444;
    text-align: center;
    margin-bottom:20px;
    word-break: break-all;
}

.deal-info .deal-date{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    color:#aaaaaa;
    text-align: center;
    margin-bottom: 40px;
}

.deal-info h3{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    color:#444;
    margin-bottom: 25px;
}

.deal-info .text{

    font-size: 14px;
    color:#aaa;
    white-space: pre-line;
}

.deal-info .deal-social-links{
    list-style: none !important;
    margin: 40px 0;
    padding: 0;
    text-align: center;
}

.deal-info .deal-social-links li{
    display: inline-block !important;
    margin: 5px;
}

/* Events */

.events-container{
    width: 100%;
    max-width: 1179px;
    margin: 0 auto;
}

.event-box{
    width: 100%;
    max-width: 578px;
    padding: 24px 20px;
    margin: 0 20px 20px 0;
    border:1px solid #ddd;
    border-radius: 4px;
    background-color:#fff;
    float: left;
    position: relative;
}

.event-box:nth-of-type(2n+2){
    margin-right: 0;
}

.event-box .ribbon{
    position: absolute;
    top: 0;
    right: 0;
    width: 87px;
    height: 87px;
    background-repeat: no-repeat;
}

.event-box .ribbon.past{
    background-image: url('../images/ribbon-pastevent.png');
}

.event-box .ribbon.popular{
    background-image: url('../images/ribbon-popular.png');
}

.event-box .title{

    font-size: 20px;
    color:#444;
    margin-bottom: 20px;
    max-width: 85%;
}

.event-box .info{
    background-color:#f8f8fa;
    margin-bottom: 20px;
    padding: 10px 10px;
}

.event-box .date,
.event-box .location{
    background-repeat: no-repeat;
    background-position: top left;
    text-transform: uppercase;
    float: left;
    padding-left: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event-box .date{
    width: 100%;
    max-width: 190px;
    margin-right: 25px;
    background-image: url('../images/calendar-icon.png');
}

.event-box .location{
    width: 100%;
    max-width: 300px;
    background-image: url('../images/location-icon.png');
}

.event-box .image{
    margin-bottom: 20px;
}

.event-box .desc{

    font-size: 14px;
    color:#aaa;
    margin-bottom: 20px;
}

.event-box .read-more{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#ed1a3d;
}

#infscr-loading>img{
    display: none;
}

.scroll-spinner{
    position: relative;
    text-align:center;
    width: 100%;
    height: 32px;
    background-image: url('../images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 24px auto;
    display: inline-block;
}

.scroll-spinner:before,
.scroll-spinner:after{
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 46%;
}

.scroll-spinner:before{
    left: 0;
}

.scroll-spinner:after{
    right: 0;
}

.event-container .back{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#ed1a3d;
    margin-bottom: 30px;
    display: block;
}

.event-container .banner{
    margin-bottom: 45px;
}

.event-container h2{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 28px;
    color:#444;
    margin: 0 0 30px;
    padding: 0;
}

.event-container .info{
    background-color:#f8f8fa;
    margin-bottom: 20px;
    padding: 10px 10px;
}

.event-container .date,
.event-container .location{
    background-repeat: no-repeat;
    background-position: top left;
    text-transform: uppercase;
    float: left;
    padding-left: 25px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    color:#aaa;
}

.event-container .date{
    width: 100%;
    max-width: 190px;
    margin-right: 25px;
    background-image: url('../images/calendar-icon.png');
}

.event-container .location{
    width: 100%;
    max-width: 530px;
    background-image: url('../images/location-icon.png');
}

.event-container .desc{

    font-size: 14px;
    color:#aaa;
    margin-bottom: 30px;
}

.event-container .btn-register{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.event-container .social-links{
    float: right;
    list-style: none;
    margin: 0 0 20px;
    padding: 4px 0 0;
}

.event-container .social-links>li{
    margin-left:10px;
    display: inline-block;
}

/* Resource Package */

.package-box{
    border:1px solid #ddd;
    float: left;
    margin: 0 30px 30px 0;
    padding: 40px 30px;
    border-radius: 4px;
    width: 31%;
    /*background-color:#f7f7f7;*/
    background-color:#fff;
}

.package-box:nth-child(3n+3){
    margin-right: 0;
}

.package-box .title{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 20px;
    color:#444;
    margin-bottom: 20px;
    text-align: center;
}

.package-box .image{
    margin-bottom: 50px;
}

.package-box .image img{
    margin: 0 auto;
}

.package-box .desc{

    font-size: 14px;
    color:#444;
    margin-bottom:10px;
}

.package-box .read-more{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#ed1a3d;
}

.package-box.same-row{
    width: 22%;
}

.package-box.same-row:nth-child(3n+3){
    margin-right: 30px;
}

.package-box.same-row:last-child{
    margin-right: 0;
}

/* Home */

.home .section{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color:#fff;
}

.home .section.alt{
    background-color:#f8f8fa;
}

.home .section.resource-package{
    /*
    background-image: url('../images/home-resource-package-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    */
}

.home .section.resource-package .image{
    margin-bottom: 40px;
}

.home .section.resource-package .desc{
    width: 100%;
    max-width: 520px;

    font-size: 14px;
    color:#444;
    margin: 0 auto 20px;
    text-align: center;
}

.home .section.banner{
    padding-top:40px;
    padding-bottom: 40px;
}

.home .section.banner .mobile{
    display: none;
}

.home .section-title{
    margin:0px 0 50px;
    text-align:center;
}

.home .section-title h1{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    color:#666;
    margin: 0 0 20px;
    padding: 0;
}

.home .section-title .ls{
    background-color:#ed1a3d;
    height:3px;
    width: 100%;
    max-width: 70px;
    margin: 0 auto;
}

.home .section-intro h2{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 32px;
    color:#444;
    text-align: center;
    max-width: 630px;
    margin: 0 auto 50px;
    padding: 0 15px;
    line-height: 1.5em;
}

.home .section-body{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: relative;
}

.home .section-body .text{
    margin-bottom: 30px;
}

.home .section-body p{
    line-height: 2em;

    font-size: 18px;
    color:#aaa;
}

.home .section-body b{
    color:#444;
}

.home .section.banner .image img{
    width: 100%;
}

.home .section.banner .desc{
    width: 100%;
    max-width: 910px;

    font-size: 14px;
    color:#444;
    margin: 20px auto 0px;
    text-align: center;
}

.home .section.banner .button{
    margin-top: 20px;
}

.home .section-body.our-campaign{
    max-width: 910px;
}

.home .section.resource-package .section-body .inner{
    margin-bottom: 40px;
}

.home .section.resource-package .packages-wrapper{
    float: left;
    width: 52%;
    margin-right: 20px;
    text-align:center;
}

.home .section.resource-package .packages-wrapper img{
    display: inline-block;
    margin: 0 24px 42px 0;
}

.home .section.resource-package .text-wrapper{
    float: left;
    width: 45%;
    text-align: left;
}

.home .section.resource-package .banner{
    margin-bottom: 30px;
}

.home .section.resource-package .text-wrapper p{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    line-height: 1em;
    color:#444;
}

.home .event-box{
    max-width: 570px;
    text-align: left;
    margin-bottom: 50px;
}

.home .event-box .date{
    max-width: 180px;
}

.story-box{
    border:1px solid #ddd;
    float: left;
    width: 100%;
    max-width: 370px;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: left;
}

.story-box:nth-child(3n+3){
    margin-right: 0;
}

.story-box .info{
    padding: 15px 30px;
}

.story-box .title{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    color:#444;
    margin-bottom:20px;
}

.story-box .desc{

    font-size: 14px;
    color:#aaa;
    margin-bottom:20px;
}

.story-box .read-more{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    color:#ed1a3d;
}

.home .section-body.sponsors{
    max-width: 920px;
    text-align:left;
}

.home .sponsors-container{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    background-color:#fff;
    box-shadow: 0px 20px 13px -12px rgba(153, 153, 153, .5);
}

.home .alt .sponsors-container{
    background-color:#f8f8fa;
}

.home .sponsors-container.last{
    box-shadow: none;
}

.home .sponsors-container.fm{
    float: left;
    max-width: 550px;
}

.home .sponsors-container.omp{
    float: right;
    max-width: 250px;
}

.home .sponsors-container .sponsor-header{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    color:#444;
    margin-bottom: 15px;
}

.home .sponsors-container.omp .sponsor-header{
    text-align:center;
}

.home .sponsors-container .logo{
    float: left;
    width: 17%;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.home .sponsors-container .logo img{
    margin: 0 auto;
}

.home .sponsors-container .fm .logo{
    width: 46%;
    text-align: left;
}

.home .sponsors-container .omp .logo{
    width: 100%;
}

.home-nav{
    position: fixed;
    top: 40%;
    right: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.home-nav>li{
    margin-bottom: 9px;
}

.home-nav>li .bullet{
    width: 17px;
    height: 17px;
    border:2px solid #666;
    background-color:#fff;
    border-radius: 100%;
}

.home-nav>li.active .bullet{
    border:2px solid #ec173b;
    background-color:#ec173b;
}

/* TNC */

.tnc ol{
    list-style-type: decimal;
    list-style-position: inside;
    padding: 0;
    /*counter-reset: item;*/
    color:#444;
}

.tnc ol.lower-alpha{
    list-style-type: lower-alpha;
}

.tnc ol.lower-roman{
    list-style-type: lower-roman;
}

.tnc ol li {
    display: list-item;
    position: relative;
    margin-bottom: 20px;
}

/*
.tnc ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}
*/

.tnc ol li h6{
    font-size: 14px;
    font-weight: bold;
    color:#444;
}

.tnc ol li b{
    color:#444;
}

.tnc ol li p{
    color:#aaa;
}

.tnc ol ol{
    padding-left: 35px;
    color:#aaa;
    list-style-position: outside;
}

/* About */

.about .section{
    margin-bottom: 30px;
}

.about .section-intro{
    margin-bottom: 35px;
}

.about .section-intro h2{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 28px;
    color:#444444;
}

.about .section-body a,
.about .section-body a:hover,
.about .section-body a:focus,
.about .section-body a:active{
    color:#ed1a3d;
}

.about .image{
    margin-bottom: 35px;
}

.about .desc{
    line-height: 2em;
    margin-bottom: 35px;
}

.about .desc p{
    margin-bottom: 25px;
}

ul.tick-red{
    margin: 0 0 50px;
    padding-left: 40px;
    list-style: none;
}

ul.tick-red li{
    background-image: url('../images/icon-tick-red.png');
    background-repeat: no-repeat;
    background-position: 0px 2px;
    padding-left: 45px;
    margin-bottom: 15px;
}

ul.tick-red li b{
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: normal;
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive */

@media (max-width: 1220px){
    .home .event-box,
    .event-box{
        max-width: 48%;
    }
}

@media (max-width: 1199px){
    .container{
        width: 100%;
    }

    .main-body{
        margin-top: 64px;
    }

    .page-title{
        margin: 0px 0 42px;
    }
    .page-title h1{
        font-size: 14px;
    }

    .material.icon .material-input{
        width: calc(100% - 50px);
        max-width: 100%;
    }
    .material .material-input input,
    .material .material-input textarea{
        max-width: 100%;
    }

    .event-box .date,
    .event-box .location{
        margin-bottom: 10px;
    }

    .story-box{
        width: 31%;
    }
    .story-box:nth-child(3n+3){
        margin-right: 0;
    }

    .home .sponsors-container.fm{
        max-width: 470px;
    }
    .home .sponsors-container .fm .logo{
        width: 45%;
    }
}

@media (max-width: 1024px){
    .package-box{
        width: 30%;
    }
    .package-box.same-row{
        width: 46%;
    }
    .package-box.same-row:nth-child(2n+2){
        margin-right: 0px;
    }
    .package-box.same-row:nth-child(3n+3){
        margin-right: 30px;
    }

    .deal-store-info{
        width: 47%;
        max-width: none;
    }
}

@media (max-width: 767px){
    input,
    select,
    textarea{
        font-size: 14px;
    }

    .home-nav{
        right:10px;
    }

    .material .material-input{
        width: 100%;
    }
    .material .material-input textarea{
        height: 80px;
    }
    .material .material-input input,
    .material .material-input textarea{
        font-size: 14px;
    }
    .material .material-input label{
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .material .material-group label{
        font-size: 14px;
    }

    .material.icon .material-input{
        width: calc(100% - 35px);
        margin-left: 35px;
    }
    .form.icon .form-group div.error,
    .material.icon .single .material-group label{
        padding-left: 35px;
    }

    .form .label-image{
        left: 0;
        top: 28px;
        width: 18px;
        height: 23px;
    }
    .form .label-image.person{
        background-image: url('../images/icon-person-mobile.png');
    }
    .form .label-image.email{
        background-image: url('../images/icon-email-mobile.png');
    }
    .form .label-image.phone{
        background-image: url('../images/icon-phone-mobile.png');
    }
    .form .label-image.message{
        background-image: url('../images/icon-message-mobile.png');
    }
    .form div.error{
        font-size: 10px;
        padding-left: 35px;
    }

    .main-body.faq{
        padding-left: 0;
        padding-right:0;
    }
    .faqs dt,
    .faqs dd{
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        margin: 0 0 0 0;
        border-bottom: 0;
    }
    .faqs dt{
        padding-top:10px;
        padding-bottom:10px;
    }
    .faqs dd{
        padding-bottom:10px;
    }
    .faqs dt:last-of-type,
    .faqs dd:last-of-type{
        border-bottom:1px solid #ddd;
    }
    .faqs dt:last-of-type.expanded{
        border-bottom: 0;
    }

    .home .event-box,
    .event-box{
        max-width: none;
    }
    .event-box .image img{
        width: 100%;
    }
    .scroll-spinner:before,
    .scroll-spinner:after{
        width: 40%;
    }

    .event-box .info{
        padding-bottom: 0;
    }
    .event-container .date,
    .event-container .location{
        margin-bottom: 10px;
    }

    .package-box{
        width: 46%;
    }
    .package-box:nth-child(2n+2){
        margin-right: 0;
    }
    .package-box:nth-child(3n+3){
        margin-right: 30px;
    }

    .story-box{
        width: 100%;
        max-width: none;
        margin-right: 0;
    }
    .story-box .image img{
        width: 100%;
    }

    .home .section.resource-package .packages-wrapper,
    .home .section.resource-package .text-wrapper{
        width: 100%;
        float: none;
    }

    .home .sponsors-container .logo{
        float: left;
        width: 45%;
        margin-bottom: 20px;
    }
    .home .sponsors-container .logo:nth-child(2n+2){
        margin-right: 0;
    }
    .home .sponsors-container.fm,
    .home .sponsors-container.omp,
    .home .sponsors-container .fm .logo{
        float: none;
        width: 100%;
        max-width: none;
    }
    .home .sponsors-container .sponsor-header,
    .home .sponsors-container.omp .sponsor-header{
        text-align: left;
    }

    .home .section{
        padding-top:44px;
        padding-bottom: 44px;
    }
    .home .section-intro h2{
        font-size: 26px;
        line-height: 1.2em;
    }
    .home .button{
        width: 100%;
    }
    .home .button.x2{
        font-size: 14px;
        padding: 10px 38px;
    }
    .home .section.resource-package .text-wrapper p{
        text-align:center;
        line-height: 1.2em;
    }
    .home .sponsors-container.last{
        margin-bottom: 0;
    }

    .home .section.banner .desktop{
        display: none;
    }
    .home .section.banner .mobile{
        display: block;
    }

    .company-box{
        display:none;
        float: none;
        margin: 0 auto;
    }
    .company-box.selected{
        display: block;
    }
    .modal-header{
        font-size: 20px;
        padding: 20px 20px;
    }
    .modal-body{
        padding: 20px;
    }
    .modal-footer{
        padding: 20px 20px;
    }

    .deal-store-info{
        width: 100%;
        float: none;
        max-width: none;
    }
    .deal-info{
        width: 100%;
    }

    ul.tick-red{
        padding-left: 0;
    }
}

@media (max-width: 480px){
    .event-container .actions{
        text-align: center;
    }
    .event-container .btn-register{
        float: none;
        margin: 0 auto 30px;
    }
    .event-container .social-links{
        float: none;
    }

    .material .material-group-radio{
        display: block;
        margin-bottom: 15px;
    }

    .material .crn .material-input input{
        padding-right: 0px;
    }
    .crn-search,
    .crn-search:focus,
    .crn-search:hover,
    .crn-search:active{
        position: static;
    }

    .package-box{
        width: 100%;
        margin-right: 0;
    }
    .package-box.same-row{
        width:100%;
        margin-right: 0;
    }

    .store-info-wrapper{
        margin-right: 0;
    }
    .store-info-item .icon{
        display: none;
    }
    .store-info-item .inner{
        width: 100%;
        float: none;
    }
    .deal-info{
        padding: 15px;
    }
}
