@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

.carousel.fade {
  opacity: 1
}

.carousel.fade .item {
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}

.carousel.fade .item:first-child {
  top: auto;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index: 2;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Avenir-Black.woff') format('woff'),
    url('../fonts/Avenir-Black.ttf') format('truetype'),
    url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Avenir-Medium.woff') format('woff'),
    url('../fonts/Avenir-Medium.ttf') format('truetype'),
    url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*navigation*/

.navbar-global {
  margin-bottom: 0;
  background-color: #292c33;
  border-bottom: 0 none
}

@media (min-width: 768px) {
  .navbar-global {
    padding-bottom: 0.5rem;
  }
  }

.navbar-header {
}

@media (min-width: 768px) {
  .navbar-header {
    position: relative;
    z-index: 9;
  }
  }

.navbar-brand {
  padding: 8.8px 0 0;
  padding: 0.55rem 0 0;
  margin-left: 16px;
  margin-left: 1rem
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-top: 3.25rem;
    height: auto;
    margin-left: 0 !important;
    margin-right: 1rem;
  }
  }

@media (min-width: 1024px) {
  .navbar-brand {
    padding-top: 1.8rem;
    margin-right: 2rem;
  }
  }

.navbar-brand img {
  width: auto;
  max-height: 32px;
  max-height: 2rem;
}

@media (min-width: 768px) {
  .navbar-brand img {
    max-height: 40px;
  }
}

@media (min-width: 1024px) {
  .navbar-brand img {
    max-height: 99em;
  }
}

.navbar-brand span {
  font-size: 0;
  display: block;
  height: 0;
}

.navbar-collapse {
  position: relative
}

@media (min-width: 768px) {
  .navbar-collapse {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }
  }

.navbar-misc {
  padding-left: 0;
  border-top: 1px solid rgb(68, 68, 68);
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 12px;
  padding-top: 0.75rem
}

@media (min-width: 768px) {
  .navbar-misc {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 0 none;
  }
  }

.navbar-misc a {
  color: white;
  text-decoration: none;
  line-height: 1;
  display: block;
  padding: 8px;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .navbar-misc a {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-misc a:hover {
  color: #00bbd4;
}

.navbar-misc > li {
  display: inline-block;
  padding: 0 16px;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .navbar-misc > li {
    padding: 0 0.5rem 0 0.75rem;
    border-left: 1px solid white;
  }
}

.navbar-misc > li:first-child {
  border-left: 0 none;
}

.navbar-main {
  padding-left: 0;
  padding-top: 12px;
  padding-top: 0.75rem
}

@media (min-width: 768px) {
  .navbar-main {
    padding-top: 0;
    float: right;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 0;
  }
  }

.navbar-main > li {
}

@media (min-width: 768px) {
  .navbar-main > li {
    display: inline-block;
    float: none;
    vertical-align: bottom;
  }
}

.navbar-main > li > a {
}

@media (min-width: 768px) {
  .navbar-main > li > a {
    display: table;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navbar-main > li > a:hover {
}

.navbar-main > li > a:hover .navicon {
  background-position: 0 -32px;
}

.navbar-main a {
  display: block;
  color: white;
  padding: 8px;
  padding: 0.5rem;
  text-decoration: none;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .navbar-main a {
    padding: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .navbar-main a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navbar-main .menu-toggle {
}

@media (min-width: 768px) {
  .navbar-main .menu-toggle {
    min-width: 150px;
  }
}

.navbar-main .menu-toggle.open {
}

@media (min-width: 768px) {
  .navbar-main .menu-toggle.open {
    background-color: white;
    color: #292c33;
  }
}

.navbar-main .menu-toggle.open + .subnav {
  display: block;
}

.navbar-main .menu-toggle.open + .subnav a {
}

@media (min-width: 768px) {
  .navbar-main .menu-toggle.open + .subnav a {
    color: #292c33;
  }
}

.navbar-main .menu-toggle.open + .subnav a:hover {
}

@media (min-width: 768px) {
  .navbar-main .menu-toggle.open + .subnav a:hover {
    background-color: rgb(213, 213, 213);
    color: white;
  }
}

.navbar-main .menu-toggle.open .navicon {
}

@media (min-width: 768px) {
  .navbar-main .menu-toggle.open .navicon {
    background-position: 50% -64px;
  }
}

.navbar-main .subnav {
  padding-left: 16px;
  padding-left: 1rem;
  list-style: none;
  display: none;
}

@media (min-width: 768px) {
  .navbar-main .subnav {
    position: absolute;
    width: auto;
    padding-left: 0;
    min-width: 150px;
  }
}

.navbar-main .subnav li {
}

@media (min-width: 768px) {
  .navbar-main .subnav li {
    display: block;
  }
}

.navbar-main .subnav a {
}

@media (min-width: 768px) {
  .navbar-main .subnav a {
    background-color: white;
  }
}

.navbar-search {
  padding-left: 0;
  padding-right: 0
}

@media (min-width: 768px) {
  .navbar-search {
    width: 270px;
    float: left;
    position: relative;
  }
  }

@media (min-width: 1024px) {
  .navbar-search {
    width: 43%;
  }
  }

@media (min-width: 1200px) {
  .navbar-search {
    width: 53%;
  }
  }

.navbar-search form {
  border-top: 0 none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .navbar-search form {
    padding-left: 0;
    padding-right: 0;
    margin-top: 12px;
  }
}

.navbar-search .input-group {
  width: 100%
}

.navbar-search .input-group input {
  border-color: transparent;
  height: 41px;
  box-shadow: none;
}

.navbar-search .input-group .input-group-btn {
}

@media (min-width: 768px) {
  .navbar-search .input-group .input-group-btn {
    width: 1%;
  }
}

.navbar-search .input-group .input-group-btn .btn {
  background-color: #ed1a3d;
  color: white;
}

@media (min-width: 768px) {
  .navbar-search .input-group .input-group-btn .btn {
    width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.navbar-search .input-group .input-group-btn i {
  font-size: 21px;
}

.navbar-main .navicon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  margin-right: 8px;
  margin-right: 0.5rem
}

@media (min-width: 768px) {
  .navbar-main .navicon {
    display: table-cell;
    vertical-align: middle;
  }
  }

.navbar-main .navicon + span {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .navbar-main .navicon + span {
    display: table-cell;
    font-size: 14px;
    line-height: 16px;
    padding-left: 0.62rem;
  }
}

.navbar-main .navicon + span span {
}

@media (min-width: 768px) {
  .navbar-main .navicon + span span {
    display: block;
  }
}

.navicon {
}

.navicon-categories {
  background: url('../img/icon-categories.png');
}

.navicon-join {
  background: url('../img/icon-join.png');
}

.navicon-login {
  background: url('../img/icon-login.png');
}

.down {
  position: relative;
  display: inline-block;
  padding-right: 16px
}

.down:before {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 0;
  border-top: 5px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

@media (min-width: 768px) {
  .down:before {
    border-top: 5px solid white;
  }
}

.down:after {
  content: '';
  position: absolute;
  right: 1px;
  bottom: 6px;
  border-top: 4px solid #292c33;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

@media (min-width: 768px) {
  .down:after {
    border-top: 4px solid #292c33;
  }
}

.open .down {
}

.open .down:before {
  border-bottom: 5px solid white;
  border-top: 0 none;
}

@media (min-width: 768px) {
  .open .down:before {
    border-bottom: 5px solid #292c33;
  }
}

.open .down:after {
  border-top: 0 none;
  border-bottom: 4px solid #292c33;
  bottom: 5px;
}

@media (min-width: 768px) {
  .open .down:after {
    border-bottom: 4px solid white;
  }
}

.navbar-toggle {
  margin-right: 5px
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.twitter-typeahead {
  display: table-cell !important
}

.twitter-typeahead > input {
  width: 100% !important;
}

.twitter-typeahead > input:valid {
  background: red;
}

.twitter-typeahead .tt-hint {
  color: rgb(213, 213, 213);
}

.twitter-typeahead .tt-menu {
  width: 100%;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .twitter-typeahead .tt-menu {
    margin-top: 0;
  }
}

.twitter-typeahead .tt-dataset {
  margin-left: -15px;
  margin-right: -61px;
  background-color: white;
}

@media (min-width: 768px) {
  .twitter-typeahead .tt-dataset {
    margin-left: 0;
    margin-right: 0;
  }
}

.twitter-typeahead .tt-dataset > span {
  color: #ed1a3d;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 16px;
  padding: 0.25rem 1rem;
  background-color: #f4f5f9;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .twitter-typeahead .tt-dataset > span {
    background-color: white;
  }
}

.twitter-typeahead .tt-suggestion {
  padding: 12px 16px;
  padding: 0.75rem 1rem;
  font-size: 14px;
  cursor: pointer;
}

.twitter-typeahead .tt-suggestion.tt-cursor,
    .twitter-typeahead .tt-suggestion:hover {
  background-color: rgb(213, 213, 213);
  color: white;
}

/*global*/

html, body { font-size: 16px; }

body {
  padding-top: 50px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased
}

@media (min-width: 768px) {
  body {
    padding-top: 112px;
  }
  }

h1, h2, h3, h4 {
  font-weight: bold;
}

a {
  color: #199dd8;
}

.btn-lg {
  font-size: 16px;
  padding: 16px;
}

.btn.btn-primary {
  background-color: #00bbd4;
  border-color: #00bbd4;
  border-radius: 99em;
  width: 200px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: #ed1a3d;
  border-color: #ed1a3d;
  outline: none;
  box-shadow: none;
}

.btn.btn-primary:disabled, .btn.btn-primary.disabled {
  background-color: #ccc;
  border-color: #ccc;
}

.btn.btn-secondary {
  background-color: #ed1a3d;
  border-color: #ed1a3d;
  border-radius: 99em;
  font-weight: 600;
  color: white;
  padding-left: 48px;
  padding-left: 3rem;
  padding-right: 48px;
  padding-right: 3rem
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background-color: #ed1a3d;
  border-color: #ed1a3d;
  outline: none;
  box-shadow: none;
}

.btn.btn-secondary:disabled, .btn.btn-secondary.disabled {
  background-color: #ccc;
  border-color: #ccc;
}

.text-loud {
  color: #ed1a3d;
  font-size: 24px;
  font-size: 1.5rem;
}

.text-note {
  color: #999;
  font-size: 14.4px;
  font-size: 0.9rem;
}

.btn.btn-add,
.btn.btn-remove {
  color: #292c33;
  font-weight: bold;
  padding-left: 0;
  text-decoration: none
}

.btn.btn-add:focus, .btn.btn-remove:focus {
  outline: none;
}

.btn.btn-add .glyphicon, .btn.btn-remove .glyphicon {
  border-radius: 99em;
  padding: 12px;
  padding: 0.75rem;
  color: white;
  margin-right: 4px;
  margin-right: 0.25rem;
}

.btn-add {
}

.btn-add .glyphicon {
  background: #00bbd4;
}

.btn-remove {
}

.btn-remove .glyphicon {
  background: #ed1a3d;
}

/* footer */

.global-footer {
  text-align: center;
  background-color: #292c33;
  padding-top: 40px;
  padding-top: 2.5rem;
  color: white
}

@media (min-width: 768px) {
  .global-footer {
    text-align: left;
  }
  }

.global-footer [class^=col-]:not(:first-child) {
  margin: 16px auto;
  margin: 1rem auto;
}

.footer-copy {
  padding: 32px 0 16px;
  padding: 2rem 0 1rem;
  border-top: 1px solid rgb(68, 68, 68);
  margin-top: 16px;
  margin-top: 1rem
}

.footer-copy p {
  font-size: 12px;
  letter-spacing: 1px;
}

.nav-footer {
}

.nav-footer a {
  color: white;
  display: inline-block;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.nav-footer a:hover {
  color: #00bbd4;
}

.footer-badge {
  display: block;
  margin: 0 auto;
}

.social-links {
  padding: 0;
  text-align: justify
}

.social-links:after {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
}

.social-links li {
  display: inline-block;
}

.social-links a {
  background-image: url('../img/icons-social.png');
  display: block;
  width: 49px;
  height: 49px;
  text-indent: -999em;
}

.social-links .social-whatsapp {
  background-position: 0 0;
}

.social-links .social-whatsapp:hover {
  background-position: 0 -49px;
}

.social-links .social-facebook {
  background-position: -49px 0;
}

.social-links .social-facebook:hover {
  background-position: -49px -49px;
}

.social-links .social-twitter {
  background-position: -98px 0;
}

.social-links .social-twitter:hover {
  background-position: -98px -49px;
}

.social-links .social-link {
  background-position: -147px 0;
}

.social-links .social-link:hover {
  background-position: -147px -49px;
}

/*hero*/

.hero  {
  background-size: cover;
  background-position: 50% 50%;
  position: relative
}

.hero-message {
  color: white;
  margin-bottom: 0;
  padding: 48px 0;
  padding: 3rem 0;
}

@media screen and (min-width: 768px) {
  .hero-message {
    padding-top: 7rem;
    padding-bottom: 7rem;
    max-width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .hero-message {
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-message {
    max-width: 40%;
  }
}

.hero-scroll {
  display: none;
}

@media (min-width: 768px) {
  .hero-scroll {
    background-image: url('../img/icon-mouse.png');
    display: block;
    width: 32px;
    height: 47px;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: bounce 1s infinite;
            animation: bounce 1s infinite;
  }
}

.hero-scroll:hover {
  -webkit-animation: none;
          animation: none;
}

.hero--deals {
  background-position: 25% top
}

@media (min-width: 600px) {
  .hero--deals {
    background-position: left top;
  }
  }

.hero--deals .container {
  background-color: rgba(0, 0, 0, .2);
  text-align: right;
}

@media (min-width: 426px) {
  .hero--deals .container {
    background-color: transparent;
  }
}

.hero--deals .hero-message {
  display: inline-block;
  width: 90%;
  font-size: 17px;
  padding-top: 160px;
  padding-top: 10rem;
}

@media (min-width: 425px) {
  .hero--deals .hero-message {
    max-width: 300px;
    padding-top: 4rem;
  }
}

@media (min-width: 768px) {
  .hero--deals .hero-message {
    padding-top: 7rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .hero--deals .hero-message {
    max-width: 40%;
    font-size: 19px;
    padding-top: 9rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .hero--deals .hero-message {
    max-width: 50%;
    padding-right: 10%;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .hero--deals .hero-message {
    padding-top: 12rem;
    padding-bottom: 6rem;
    font-size: 22px;
  }
}

/*carousel*/

.carousel {
}

.carousel .pager {
  margin: 0;
}

.carousel .pager a {
  display: block;
  width: 11px;
  height: 55px;
  text-indent: -999em;
  border: 0 none;
  background-color: transparent;
  background-image: url('../img/icon-pager.png');
  padding: 0;
  border-radius: 0;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  z-index: 9;
  outline: none;
}

.carousel .pager a:hover, .carousel .pager a:focus {
  background-color: transparent;
}

.carousel .pager .pager-prev {
  background-position: 0 0;
  left: 0;
}

.carousel .pager .pager-prev:hover {
  background-position: -11px 0;
}

.carousel .pager .pager-next {
  background-position: -22px 0;
  right: 0;
}

.carousel .pager .pager-next:hover {
  background-position: -33px 0;
}

/*popular list*/

.popular-list {
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 48px;
  padding-bottom: 3rem
}

.popular-list h2 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.caption h5 {
  margin: 16px auto;
  margin: 1rem auto;
  min-height: 48px;
  min-height: 3rem;
  line-height: 1.1;
}

.thumbnail {
  background-color: transparent;
  border: 0 none;
  position: relative;
  padding: 0
}

.thumbnail .btn {
  width: 100%;
}

.thumbnail a {
}

.thumbnail a img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbnail>img {
  width: 100%;
}

.thumbnail .caption {
  padding: 0;
}

.price {
  display: table;
  width: 100%;
  border: 1px solid #888888;
  text-align: center;
  margin-bottom: 24px;
  margin-bottom: 1.5rem
}

.price-sale {
  font-weight: bold;
}

.price-orig {
  text-decoration: line-through;
  text-align: left;
}

.price-off {
  background-color: #888888;
  color: white;
}

.price span {
  padding: 8px;
  padding: 0.5rem;
  line-height: 1;
  display: table-cell;
}

.promo {
  width: 100%;
  display: table;
  font-weight: bold;
  margin-bottom: 16px;
  margin-bottom: 1rem
}

.promo span {
}

@media (min-width: 768px) {
  .promo span {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .promo span {
    font-size: 1rem;
  }
}

.promo-text {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.promo-price {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

.icon-heart {
  width: 25px;
  height: 22px;
  display: block;
  background-image: url('../img/icon-heart.png');
  position: absolute;
  top: 20px;
  right: 20px
}

.icon-heart-active,
  .icon-heart:hover {
  background-position: 0 -22px;
}

.banner-fullsize {
}

.banner-fullsize img {
  width: 100%;
}

.thumbnail-social {
  text-align: center
}

.thumbnail-social .social-links {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.thumbnail-social .social-links a {
  background-image: url('../img/icons-social-blue.png');
}

/*feature*/

.feature-list {
  background-color: #f4f5f9;
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 48px;
  padding-bottom: 3rem
}

.feature-list h2 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

/*category*/

.category-list {
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 48px;
  padding-bottom: 3rem
}

.category-list h2 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.categories {
  font-size: 0;
  padding: 0;
  text-align: center;
}

.category {
  display: inline-block;
  font-size: 16px;
  width: 50%;
  position: relative;
  max-width: 234px
}

@media (min-width: 768px) {
  .category {
    width: 25%;
  }
  }

@media (min-width: 1024px) {
  .category {
    width: 20%;
  }
  }

.category a {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.category a:hover {
  background-color: rgba(0, 0, 0, .6);
  color: white;
}

.category a:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.category div {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  font-weight: bold;
}

/* stats */

.facts-and-figures {
  background-color: black;
  background-image: url('../img/bg-figures.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  color: white
}

@media (min-width: 1024px) {
  .facts-and-figures {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  }

.facts-and-figures strong {
  font-size: 48px;
  font-size: 3rem;
}

.facts-and-figures strong span {
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
}

.stat-list {
  width: 100%;
  font-size: 0;
}

.stat {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 14px;
  line-height: 1;
  padding: 16px 0;
  padding: 1rem 0;
  font-weight: bold
}

@media (min-width: 768px) {
  .stat {
    width: 25%;
    height: auto;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
  }
  }

@media (min-width: 1024px) {
  .stat {
    font-size: 20px;
    padding: 0 3rem;
  }
  }

.stat span {
  display: block;
}

.stat .text {
}

.stat .text-sm {
  font-size: 0.8em;
}

.stat .text-lg {
  font-size: 2.5em;
  font-weight: bold;
  color: #ed1a3d;
}

.stat .text-inline {
  display: inline;
  color: #ed1a3d;
}

/*forms*/

.form-group label span {
  font-weight: normal;
  font-style: italic;
  font-size: 0.8em;
}

.step-state-1, .step-state-2 { display: none;}

.form-step-1 .step-state-1 { display: inline; }

.form-step-2 .step-state-2 { display: inline; }

.form-vendor { display: block; }

.form-step-2 .form-vendor { display: none; }

.form-header {
  padding: 48px 0;
  padding: 3rem 0;
}

.form-control {
  height: 48px;
  height: 3rem;
  box-shadow: none
}

@media (min-width: 768px) {
  .form-control {
    height: 3.5rem;
  }
  }

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: rgb(109, 109, 109);
}

.form-control.error {
  border: 1px solid #ed1a3d;
}

.form-vendor, .form-offer {
}

.form-vendor .form-group, .form-offer .form-group {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .form-vendor .form-group, .form-offer .form-group {
    margin-bottom: 2rem;
  }
}

.form-submit {
  text-align: center
}

.form-submit p {
}

@media (min-width: 768px) {
  .form-submit p {
    text-align: left;
  }
}

#form_add { display: none; }

.form-step-2 #form_add { display: inline-block; }

#form_continue { display: none; }

.form-step-1 #form_continue { display: inline-block; }

#form_preview { display: none; }

.form-step-2 #form_preview { display: inline-block; }

#form_submit { display: none; }

.form-step-2 #form_submit { display: inline-block; }

label.error {
  color: #ed1a3d;
  font-weight: normal;
  font-size: 12.8px;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.checkbox {
  margin-bottom: 16px;
  margin-bottom: 1rem
}

.checkbox label {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.checkbox .error {
  display: block;
}

.checkbox-rememberme {
  margin-top: 0;
}

.radio {
}

.radio input[type=text] {
  margin-top: 4px;
  margin-top: 0.25rem;
  -webkit-transition: max-height 0.25s;
  transition: max-height 0.25s;
  max-height: 4em;
}

.radio input[type=text]:disabled {
  max-height: 0;
  line-height: 0;
  padding: 0;
  border: 0 none;
}

.form-offer { display: none; }

.form-step-2 .form-offer-1 { display: block; }

.form-offer-product {
  padding-top: 32px;
  padding-top: 2rem;
}

.form-offer-2 {
  border-top: 1px solid #888888;
}

.form-offer-pricing {
  background-color: #f4f5f9;
  padding: 32px 0;
  padding: 2rem 0;
}

.form-field {
  border: 1px solid #00bbd4;
  border-radius: 3px;
  padding-top: 16px;
  padding-top: 1rem
}

.form-field h4 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.form-submit {
  text-align: center;
  padding-bottom: 32px;
  padding-bottom: 2rem
}

@media (min-width: 768px) {
  .form-submit {
    text-align: left;
  }
  }

.form-submit .btn-link {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.form-submit button + button {
  margin-top: 16px;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .form-submit button + button {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.form-offer-store {
  padding-top: 32px;
  padding-top: 2rem;
}

.form-separator {
  text-align: center
}

.form-separator i {
  display: inline-block;
  background: #00bbd4;
  padding: 16px;
  padding: 1rem;
  border-radius: 99em;
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 32px;
  margin: 2rem;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1
}

.inputfile.error + label {
  border-color: #ed1a3d;
}

.inputfile + label {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 0;
    padding: 12px 0
}

@media (min-width: 768px) {
  .inputfile + label {
    padding: 9px 0;
  }
    }

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #f4f5f9;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.file-upload {
    border: 1px dashed #888888;
}

.file-actions {
    padding: 12px 6px;
    text-align: center
}

@media (min-width: 768px) {
  .file-actions {
    padding: 9px 0;
  }
    }

.file-photo {
  cursor: pointer
}

@media (min-width: 768px) {
  .file-photo {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.85rem;
    line-height: 1.2;
    max-width: 50%;
  }
  }

@media (min-width: 1200px) {
  .file-photo {
    max-width: 40%;
  }
  }

.file-photo img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  margin-right: 0.25rem;
}

.file-photo span {
  display: inline-block;
  vertical-align: middle;
  max-width: 60%;
  color: #888888;
  text-align: left;
}

@media (min-width: 768px) {
  .file-photo span {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .file-photo span {
    max-width: 70%;
  }
}

.file-photo [class^=file-photo] {
  display: none;
}

.file-button {
  display: inline-block;
  vertical-align: middle;
  font-size: 14.4px;
  font-size: 0.9rem;
  cursor: pointer
}

.file-button i {
  padding: 0.7em;
  border-radius: 99em;
  color: white;
  margin-right: 0.5em;
}

.file-button .glyphicon-plus {
  background-color: #00bbd4;
}

.file-button .glyphicon-arrow-up {
  background-color: #ed1a3d;
}

.file-button .glyphicon-ok {
  background-color: #63d263;
}

.file-button [class^=file-button] {
  display: none;
}

.file-separator {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  height: 0;
  border-bottom: 1px solid rgb(213, 213, 213)
}

@media (min-width: 768px) {
  .file-separator {
    height: 2em;
    width: 0;
    border-bottom: none;
    border-right: 1px solid rgb(213, 213, 213);
    margin: 0 5px;
  }
  }

.file-actions--default {
}

.file-actions--default .file-photo-text {
  display: inline-block;
}

.file-actions--default .file-button-select {
  display: inline-block;
}

.file-actions--upload {
}

.file-actions--upload .file-button-upload {
  display: inline-block;
}

.file-actions--upload .file-photo-name {
  display: inline-block;
}

.file-actions--start {
}

.file-actions--start .file-photo-name {
  display: inline-block;
}

.file-actions--start .file-button-start {
  display: inline-block;
}

.file-actions--complete {
}

.file-actions--complete .file-photo-name {
  display: inline-block;
}

.file-actions--complete .file-button-complete {
  display: inline-block;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../img/icon-arrow-right.png');
  background-repeat: no-repeat;
  background-position: 95% 50%
}

select.form-control::-ms-expand {
  display: none;
}

.input-currency {
  position: absolute;
  margin-top: 1.05em;
  margin-left: 1em;
  display: block;
  color: #888888;
  font-size: 14.4px;
  font-size: 0.9rem
}

@media (min-width: 768px) {
  .input-currency {
    margin-top: 1.3em;
  }
  }

.input-currency + input {
  padding-left: 2.5em;
}

.textarea-counter {
  float: right;
  color: rgb(213, 213, 213);
  font-size: 14.4px;
  font-size: 0.9rem;
}

#discount_discount:disabled {
  background-color: rgb(249, 249, 249);
}

.form-group-terms {
  padding-top: 16px;
  padding-top: 1rem;
}

/*page*/

.page-head {
  background-color: #3078a7;
  color: white
}

.page-head ~ .page {
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}

.page {
  min-height: 280px
}

@media (min-width: 768px) {
  .page {
    min-height: 600px;
  }
  }

.page-heading {
  margin: 8px 0 0;
  margin: 0.5rem 0 0;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px
}

@media (min-width: 768px) {
  .page-heading {
    font-size: 1.5rem;
  }
  }

.btn-breadcrumb .btn {
  padding-left: 0;
  padding-right: 0;
  color: white;
  font-size: 12px;
}

.crumb {
  float: left;
  font-size: 12px;
  padding: 6px;
  font-weight: normal;
}

.page-message {
  text-align: center;
  margin-top: 48px;
  margin-top: 3rem
}

@media (min-width: 768px) {
  .page-message {
    text-align: left;
  }
  }

.page-message-icon {
  display: block;
  margin: 0 auto;
  height: 3em;
  line-height: 2;
  background: #63d263;
  width: 2em;
  height: 2em;
  border-radius: 99em;
  color: white;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .page-message-icon {
    display: inline-block;
    text-align: center;
    margin-right: 0.5rem;
  }
}

.product {
}

.product .thumbnail {
}

@media (min-width: 1024px) {
  .product .thumbnail {
    padding: 8px;
    border: 1px solid white;
  }
}

.product .thumbnail:hover {
}

@media (min-width: 1024px) {
  .product .thumbnail:hover {
    border: 1px solid rgb(213, 213, 213);
  }
}

.product .price {
}

.product .price span {
  font-size: 12px;
  padding: 8px 4px;
  padding: 0.5rem 0.25rem;
}

@media (min-width: 1024px) {
  .product .price span {
    padding: 0.5rem;
    font-size: 14px;
  }
}

.sidebar {
}

@media (min-width: 768px) {
  .sidebar {
    margin-left: -15px;
  }
  }

.sidebar .nav {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.sidebar .nav a {
  color: #292c33;
  font-size: 14px;
  padding: 10px 15px;
  display: block;
}

@media (min-width: 768px) {
  .sidebar .nav a {
    padding-left: 0;
    padding-right: 0;
  }
}

.sidebar .nav a:hover, .sidebar .nav a:focus {
  background-color: transparent;
  color: #00bbd4;
}

.sidebar .nav a.checked {
}

.sidebar .nav a.checked:after {
  content: '';
  background: url(../img/icon-check.png) no-repeat center right;
  display: inline-block;
  width: 12px;
  height: 9px;
  margin-left: 13px;
}

.sidebar .nav a.checked + ul {
  list-style: none;
}

@media (min-width: 768px) {
  .sidebar .nav a.checked + ul {
    padding-left: 20px;
  }
}

.sidebar-categories {
}

.sidebar-categories label {
  font-weight: normal;
  cursor: pointer;
  margin: 12px 0;
  margin: 0.75rem 0;
  font-size: 14px;
}

.sidebar-categories label:hover {
  color: #00bbd4;
}

.sidebar-categories [name^=filterby] {
  position: absolute;
  left: -999em;
  top: -999em;
}

.sidebar-categories [name^=filterby]:checked {
}

.sidebar-categories [name^=filterby]:checked + span {
  width: 12px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-left: 0.75rem;
  background-image: url('../img/icon-check.png');
}

.sidebar-sorter {
}

.sidebar-sorter label {
  font-weight: normal;
  cursor: pointer;
  margin: 12px 0;
  margin: 0.75rem 0;
  font-size: 14px;
}

.sidebar-sorter label:hover {
  color: #00bbd4;
}

.sidebar-sorter [name^=sortby] {
  position: absolute;
  left: -999em;
  top: -999em;
}

.sidebar-sorter [name^=sortby]:checked {
}

.sidebar-sorter [name^=sortby]:checked + span {
  width: 12px;
  height: 9px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-left: 0.75rem;
  background-image: url('../img/icon-check.png');
}

.nav-header {
  border-top: 1px solid rgb(213, 213, 213);
  padding: 12px 0;
  padding: 0.75rem 0;
  cursor: pointer;
  position: relative
}

.nav-header h4 {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-header h4:after {
  content: '';
}

.nav-header-info {
  font-size: 11px;
  display: none;
  margin-top: 4px;
  margin-top: 0.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-header + .nav {
  display: none;
}

.nav-header:after {
  content: '';
  width: 21px;
  height: 12px;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 0;
  background: url(../img/icon-chevron-updown.png) no-repeat 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-header.nav-active {
}

.nav-header.nav-active .nav-header-info {
  display: block;
}

.nav-header.nav-active + .nav {
  display: block;
}

.nav-header.nav-active:after {
  background-position: 0 -12px;
}

.page-pager {
  border-top: 1px solid rgb(213, 213, 213);
  border-bottom: 1px solid rgb(213, 213, 213);
  text-align: center;
  margin-bottom: 32px;
  margin-bottom: 2rem
}

.page-pager .pagination {
  margin: 0 auto;
}

.page-pager .pagination > li {
  display: inline-block;
  vertical-align: middle;
}

.page-pager .pagination > li > a {
  background-color: transparent !important;
  border: 0 none;
  padding: 6px;
  font-size: 14px;
  color: #292c33;
}

.page-pager .pagination > li > a:hover {
  color: #00bbd4;
}

.page-pager .pagination > li > a:hover span {
  background-color: #00bbd4;
}

.page-pager .pagination > li > a span {
  border-radius: 99em;
  padding: 5px;
  background-color: #ffc80a;
  display: inline-block;
  width: 32px;
  color: white;
  margin: 0 4px;
  margin: 0 0.25rem;
}

.page-pager .pagination .active {
  color: #ed1a3d;
}

.product-title {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.product-description {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.product-details {
  border: 1px solid rgb(213, 213, 213);
  margin-bottom: 16px;
  margin-bottom: 1rem
}

@media (min-width: 768px) {
  .product-details {
    display: table;
    width: 100%;
  }
  }

.product-details > div {
  padding: 16px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .product-details > div {
    display: table-cell;
    width: 50%;
  }
}

.product-details-vendor {
  background-color: #eaeaea;
  font-size: 14px
}

.product-details-vendor a {
  text-decoration: underline;
  color: #292c33;
}

.product-details-vendor a:hover {
  color: #00bbd4;
}

.product-details .product-details-item {
  position: relative;
  padding-bottom: 64px;
  padding-bottom: 4rem
}

.product-details .product-details-item .btn {
}

@media (min-width: 768px) {
  .product-details .product-details-item .btn {
    max-width: 150px;
  }
}

.price-discount {
  color: #ed1a3d;
}

.price-base {
  text-decoration: line-through;
}

.price-discount {
  color: #ed1a3d;
  margin: 0 16px;
  margin: 0 1rem;
}

.product-buy {
  position: absolute;
  bottom: 16px;
  bottom: 1rem;
  text-transform: uppercase
}

.product-buy.btn-link {
  color: #00bbd4;
  padding-left: 0;
  padding-right: 0;
  opacity: 1;
}

.product-terms {
  border: 1px solid rgb(213, 213, 213);
  padding: 16px;
  padding: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.btn-terms {
  display: block;
  padding-left: 0;
  padding-right: 0;
  color: #888888;
  text-align: left
}

.btn-terms:hover {
  text-decoration: none;
  color: #00bbd4;
}

.btn-terms i {
  float: right;
}

.product-terms {

}

.product-terms label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: normal;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0;
}

.product-terms label .icon-chevron {
  float: right;
  margin-top: 4px;
}

.product-terms [name^=show-terms] {
  position: absolute;
  opacity: 0;
}

.product-terms [name^=show-terms] ~ div {
  display: none;
  margin-top: 16px;
  margin-top: 1rem;
}

.product-terms [name^=show-terms]:checked {
}

.product-terms [name^=show-terms]:checked + label {
}

.product-terms [name^=show-terms]:checked + label .icon-chevron {
  background-position: 0 100%;
}

.product-terms [name^=show-terms]:checked ~ div {
  display: block;
}

.icon-chevron {
  width: 21px;
  height: 12px;
  display: inline-block;
  background-image: url('../img/icon-chevron-updown.png');
}

.product-related {
}

.product-related h3 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.product-social {
  margin-bottom: 16px;
  margin-bottom: 1rem
}

.product-social .social-links {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.product-social .social-links a {
  background-image: url('../img/icons-social-blue.png');
}

.product-social .social-label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  margin-right: 1rem;
}

.btn-back {
  color: #292c33;
  text-decoration: none;
  padding-left: 0;
  padding-right: 0
}

.btn-back:hover, .btn-back:focus {
  text-decoration: none;
  color: #00bbd4;
}

.btn-back:hover .icon-back, .btn-back:focus .icon-back {
  background-position: 0 -32px;
}

.btn-back .icon-back {
  background-image: url('../img/icon-back.png');
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-right: 0.5rem;
}

.preview {
  background-color: white;
  padding: 16px;
  padding: 1rem;
}

.preview-pager {
  display: block;
  text-align: center;
  padding: 16px 0;
  padding: 1rem 0;
}

.preview-link {
  display: inline-block;
  width: 32px;
  background-color: #ffc80a;
  border-radius: 99em;
  height: 32px;
  line-height: 2;
  color: white;
  margin: 0 4px;
  margin: 0 0.25rem;
  text-align: center
}

.preview-link:hover, .preview-link:focus {
  background-color: #00bbd4;
  color: white;
  text-decoration: none;
}

.sample-content {
  border: 1px dashed rgb(213, 213, 213);
  color: #888888;
  padding: 4px;
  padding: 0.25rem;
}

.main-body.contact,
.main-body.faq {
  padding-bottom: 48px;
  padding-bottom: 3rem;
}

.main-body.cn {
  font-size: 15px;
  font-family: sans-serif
}

.main-body.cn .page-title {
}

.main-body.cn .page-title h1 {
  font-size: 16px;
}

.modal-dialog {
  width: 100%;
  margin: 0
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  }

@media (min-width: 1024px) {
  .modal-dialog {
    width: 800px;
  }
  }

.modal-content {
  border: 0 none;
}

.modal-header {
  height: 50px;
  padding: 0 16px;
  line-height: 50px;
  font-size: 14px;
  color: white;
  background: red;
  text-align: left;
  letter-spacing: 1px;
  font-weight: bold;
  position: relative;
  z-index: 1
}

@media (min-width: 768px) {
  .modal-header {
    line-height: 1;
    background: white;
    color: black;
    width: 100%;
    border-bottom: 0 none;
    box-shadow: none;
    left: 0;
    height: auto;
  }
  }

.modal-header .modal-header-text {
}

@media (min-width: 768px) {
  .modal-header .modal-header-text {
    display: none;
  }
}

.modal-header .close {
  line-height: 50px
}

@media (min-width: 768px) {
  .modal-header .close {
    line-height: 1;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  }

/* Sponsors */

.section-sponsors {
  max-width: 980px;
  margin: 0 auto;
  text-align: center
}

@media (min-width: 1024px) {
  .section-sponsors {
    text-align: left;
  }
  }

.logoset-title {
  margin-top: 32px;
  margin-bottom: 32px;
  color: #ed1a3d
}

@media (min-width: 768px) {
  .logoset-title {
    text-align: left;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
  }

.logoset {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  text-align: center;
  margin-bottom: 32px
}

@media (min-width: 768px) {
  .logoset {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  }

@media (min-width: 1024px) {
  .logoset {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  }

.logoset:nth-child(99n+2) {
}

.logoset img {
  display: inline-block;
  margin: 20px 10px;
}

@media (min-width: 768px) {
  .logoset img {
    display: inline-block;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

/* Signin */

.form-signin .form-instructions {
  text-align: center;
}

/* Password Reset */

.form-passwordreset {
}

.form-passwordreset .form-instructions {
  text-align: center;
}

.form-passwordreset .form-instructions-loading {
  display: none;
}

.form-passwordreset .form-instructions-success {
  display: none;
}

.form-passwordreset.form-loading {
}

.form-passwordreset.form-loading .form-instructions-default {
  display: none;
}

.form-passwordreset.form-loading .form-instructions-loading {
  display: block;
}

.form-passwordreset.form-loading .form-instructions-success {
  display: none;
}

.form-passwordreset.form-loading .form-main {
  display: none;
}

.form-passwordreset.form-success {
}

.form-passwordreset.form-success .form-instructions-default {
  display: none;
}

.form-passwordreset.form-success .form-instructions-loading {
  display: none;
}

.form-passwordreset.form-success .form-instructions-success {
  display: block;
}

.form-passwordreset.form-success .form-main {
  display: none;
}

/* Password Update */

.form-passwordupdate {
}

.form-passwordupdate .form-instructions {
  text-align: center;
}

.form-passwordupdate .form-instructions-loading {
  display: none;
}

.form-passwordupdate .form-instructions-success {
  display: none;
}

.form-passwordupdate.form-loading {
}

.form-passwordupdate.form-loading .form-instructions-default {
  display: none;
}

.form-passwordupdate.form-loading .form-instructions-loading {
  display: block;
}

.form-passwordupdate.form-loading .form-instructions-success {
  display: none;
}

.form-passwordupdate.form-loading .form-main {
  display: none;
}

.form-passwordupdate.form-success {
}

.form-passwordupdate.form-success .form-instructions-default {
  display: none;
}

.form-passwordupdate.form-success .form-instructions-loading {
  display: none;
}

.form-passwordupdate.form-success .form-instructions-success {
  display: block;
}

.form-passwordupdate.form-success .form-main {
  display: none;
}

.password-toggle {
  float: right;
  position: relative;
  top: 44px;
  top: 2.75rem;
  right: 16px;
  right: 1rem;
}

.eye {
  width: 13px;
  height: 13px;
  border: solid 1px #000;
  border-radius:  75% 15%;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
}

.eye:before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: solid 1px #000;
  border-radius: 50%;
  left: 3px;
  top: 3px;
}

/* Account */

.details-head {
  padding-top: 40px;
  padding-bottom: 10px
}

.details-head h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-head span {
}

@media (max-width: 767px) {
  .details-head span {
    font-size: 1.4rem;
  }
}

.details-head h2 a.btn {
  max-width: 90px;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 10px;
}

@media (min-width: 768px) {
  .details-head h2 a.btn {
    max-width: 99em;
    padding: 16px;
    font-size: 16px;
  }
}

.account-details {
}

.account-details .details {
  border: 1px solid #ddd;
}

.account-details .details + .details-subhead {
  margin-top: 32px;
  margin-top: 2rem;
}

.account-details .detail {
  padding: 16px;
  padding: 1rem;
}

.account-adddeal {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* About */

.about-infograph {
  background: #ed1a3d;
  padding: 40px 0;
  margin-bottom: 40px
}

.about-infograph .section {
  max-width: 759px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.about-infograph h2 {
  text-align: center;
}

.about .section {
  line-height: 2.4;
}

.language-switcher {
  padding: 2em;
  max-width: 760px;
  text-align: center;
  margin: 0 auto
}

@media (min-width: 768px) {
  .language-switcher {
    text-align: right;
  }
  }

.language-switcher a {
  color: #ed1a3d;
}

.title-hilite {
  color: #ed1a3d;
}

.icon--red {
  background-image: url('../img/icon-red.png');
  background-size: 100% auto;
  width: 64px;
  height: 64px
}

.icon--red-1 {
}

.icon--red-2 {
  background-position: 50% -64px;
}

.icon--red-3 {
  background-position: 50% -128px;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.reason-icon {
  display: block;
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 768px) {
  .reason-icon {
    margin-right: 2em;
    margin-left: 0;
  }
}

.reason ul {
  padding-left: 0;
  margin-top: 2em;
  margin-left: -2em;
}

@media (min-width: 768px) {
  .reason ul {
    margin-top: 0;
    margin-left: auto;
  }
}

.reason p {
  margin-left: -2em;
}

@media (min-width: 768px) {
  .reason p {
    margin-left: auto;
  }
}

.reason h4 {
  margin-left: 1em;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .reason h4 {
    margin-top: 10px;
    margin-left: auto;
  }
}

.infograph {
}

.infograph img {
  max-width: 100%;
}

.infograph--xs {
}

@media (min-width: 768px) {
  .infograph--xs {
    display: none;
  }
}

.infograph--sm {
  display: none;
}

@media (min-width: 768px) {
  .infograph--sm {
    display: block;
  }
}

.infograph__break {
  display: block;
  padding: 0.5em;
  width: 10em;
  margin: 0 auto;
  background: white;
  color: #ed1a3d;
  font-weight: bold;
}

/* Deals */

.mechanics {
  padding: 32px 0;
  padding: 2rem 0
}

@media (min-width: 768px) {
  .mechanics {
    padding: 3rem 0 2rem;
  }
  }

.mechanic {
  padding: 32px 0;
  padding: 2rem 0;
  text-align: center;
  max-width: 180px;
  margin: 0 auto
}

.mechanic__number {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('../img/sprite-numbers.png');
  background-size: cover;
}

.mechanic__number--2 {
  background-position: 50% -50px;
}

.mechanic__number--3 {
  background-position: 50% -100px;
}

/*just for debugging purpose, safe to remove*/

.debug {
  background-color: rgb(102, 51, 153);
  color:white;
  text-align: center;
  padding: 8px;
  padding: 0.5rem;
}
